

<!-- Footer -->
       <footer class="page-footer font-small cyan darken-3">

           <!-- Footer Elements -->
           <div class="container">

             <!-- Grid row-->
             <div class="row">

               <!-- Grid column -->
               <div class="col-md-12 py-5">
                 <div class="mb-5 flex-center">

                   <!-- Facebook -->
                   <a class="fb-ic" href="#">
                     <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!-- Twitter -->
                   <a class="tw-ic" href="#">
                     <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!-- Google +-->
                   <a class="gplus-ic" href="#">
                     <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Linkedin -->
                   <a class="li-ic" href="#">
                     <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Instagram-->
                   <a class="ins-ic" href="#">
                     <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Pinterest-->
                   <a class="pin-ic" href="#">
                     <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                   </a>
                 </div>
               </div>
               <!-- Grid column -->

             </div>
             <!-- Grid row-->

           </div>
           <!-- Footer Elements -->

           <!-- Copyright -->
           <div class="footer-copyright text-center py-3">© 2018 Copyright&nbsp;&nbsp;<span style="color:#007bff"><b>Design by Sherwan</b></span>

           </div>
           <!-- Copyright -->

         </footer>
         <!-- Footer -->









<script src="/js/index.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>
</html>
