<%include partials/header%>





    <div class="container" id="contact-form">
      <div  id="form" class="row text-center">
        <div class="col-lg-8 col-md-8  col-sm-8">
          <h2>Contact US</h2>
          <p>we are happy to answer any questions</p>


 <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Subject</label>
    <input type="text" class="form-control"  placeholder="Subject">
  </div>


 <div class="form-group">
  <label for="exampleFormControlTextarea2">Small textarea</label>
  <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
 </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>


        </div>


        <!-- 2nd col -->
        <div  class="col-lg-4 col-md-4  col-sm-4" >


          <i class="fas fa-envelope"></i>
          <h3>Email</h3>
          <p>sherwan698@gmail.com</p>

          <hr>

          <i class="fas fa-phone"></i>
          <h3>Phone</h3>
          <p>+4735907654</p>







        </div>


      </div>
      </div>






<%include partials/footer%>
