<%include partials/header%>

<div class="container">

  <div class="row">

  <div class="col-lg-8 col-md-8  col-sm-8">
    <h2>Create New Reklam</h2>




  <form action="/reklam"  method="post">
   <div class="form-group">
     <label for="image2">image</label>
     <input name="image2" type="text" class="form-control" id="image" placeholder="Image">

   </div>
   <div class="form-group">

     <label for="description2">description</label>
     <input  name="description2" type="text" class="form-control" id="headline"  placeholder="description">
   </div>




   <button type="submit" class="btn btn-primary">Submit</button>
 </form>


</div>
</div>

</div>


<%include partials/footer%>
